body{
	background-image:url("/home/Sem6B10/Desktop/spring.jpg");
	background-repeat:no-repeat;
	background-color:white;
	background-attachment:fixed;
	width:1000px;
	height:200px;	
	border:2px;
}

div{
width:100px;
height:100px;
background:red;
transition:width 2s,height 4s,transform 2s;
animation-name:example;
animation-duration:4s;
animation-delay:2s;
animation-iteration-count:3;
}


div:hover{
width:300px;
height:300px;
transform:rotate(180deg);
transform:translate(50px, 100px);
transform:scale(2,3);
transform:skew(20deg);
}


@keyframes example{
from{background-color:red;}
to{background-color:yellow;}





ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 60px;
}

li a {
  display: block;
  width:60px;
}













}
h3{
		color:black;
		margin-left:40px;
		
		
		}
#h3{background-image:linear-gradient(blue,yellow);}

#grad{background-image:radial-gradient(red,yellow,blue);}
