body{
	background-image:url("/home/Sem6B10/Desktop/spring.jpg");
	background-repeat:repeat;
	background-color:linen;
	background-attachment:fixed;
	}
	  h1,h3{
		color:maroon;
		margin-left:40px;
		text-decoration:underline;
		
		}
	h2{
		text-transform:capitalize;
		text-shadow:4px 4px 6px purple;
	   }
		


		p.normal{
			color:blue;
			margin:60px;
			font-weight:bolder;
			text-align:left;
			text-decoration:line-through;
			border-style:solid;
			border-color:red;
			padding:25px 50px 75px 100px;

		 	}
		p.special{
			color:blue;
			font-style:italic;
			font-family:georgia,garamond,serif;
			font-size:40px;
			text-indent:1cm;
			text-align:center;
			text-decoration:overline;
			}
		p.ariel{
			font-weight:900;
			direction:rtl;
			letter-spacing:5px;
			word-spacing:5px;
			text-decoration:blink;
			}
		img{
			
			border:3px solid black; height:300px; opacity:1.0; 
			filter:alpha(opacity=40);			
			}
		


	p.name{
		font-size:60px;
		color:blue;
		border-style:dashed;
		border-color:green;
		border-width:2px 2px 2px 2px;
		margin:2cm;
		padding:5px 5px 5px 5px;
			}



	li{
		font-size:30px;
		color:green;		
		display:block;
	}

	
	
	span.a{
	display:inline;
	width:100px;
	height:100px;
	padding:5px;
	border:1px solid blue;
	background-color:yellow;
	}
	
	span.b{
	display:inline-block;
	width:100px;
	height:100px;
	padding:5px;
	border:1px solid blue;
	background-color:green;
	}

	span.c{
	display:block;
	width:1000px;
	height:1000px;
	padding:5px;
	border:1px solid blue;
	background-color:red;
	}

a.rose {
  
  color: black;
  text-align: center;
  display: inline-block;
}

 a.kiwi{
color: black;
text-decoration: none;
text-align: center;
display: inline-block;
}
 a.mango{
border-style:2px solid;
border-color:blue;
padding:14px 25px;
text-decoration: none;
text-align: center;
display: inline-block;
}
 a.jas{
border-style:2px solid;
border-color:blue;
padding:14px 25px;
background-color: #f44336;
text-decoration: none;
text-align: center;
display: inline-block;
}


a.rose:link{
background-color:black;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}
 a.rose:visited {
  color:red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.:hover{
 background-color:red;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;}

 a:active {
  background-color: green;
}







